body{
    color: #6F8BA4;
    margin-top:0px;
   
}
.section {
    padding: 100px 0;
    position: relative;
}
.gray-bg {
    background-color: #f5f5f5;
}
.about-avatar {
    max-width: 100%;
    background-image: url("../images/Untitled.png");
    height: 400px;
    width: 500px;
    border-radius: 10px;
}
.about-avatar {
    vertical-align: middle;
    border-style: none;
}
/* About Me 
---------------------*/
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}
.about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }
}
.about-text p {
  font-size: 18px;
  max-width: 450px;
}
.about-text p mark {
  font-weight: 600;
  color: #20247b;
}

.about-list {
  padding-top: 10px;
}
.about-list .media {
  padding: 5px 0;
}
.about-list label {
  color: #20247b;
  font-weight: 600;
  width: 88px;
  margin: 0;
  position: relative;
}
.about-list label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  width: 1px;
  height: 12px;
  background: #20247b;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}
.about-list p {
  margin: 0;
  font-size: 25px;
}

@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
}

.about-section .counter {
  padding: 22px 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.about-section .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}
.about-section .counter .count {
  font-weight: 700;
  color: #20247b;
  margin: 0 0 5px;
}
.about-section .counter p {
  font-weight: 600;
  margin: 0;
}
mark {
    background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-color: transparent;
    padding: 0;
    color: currentColor;
}
.theme-color {
    color: #fc5356;
}
.dark-color {
    color: #20247b;
}
.container{
    margin-top: 10px;
}

#boxs1 {transition-timing-function: linear;}
#boxs2 {transition-timing-function: ease;}
#boxs3 {transition-timing-function: ease-in;}
#boxs4 {transition-timing-function: ease-out;}
#boxs5 {transition-timing-function: ease-in-out;}

#boxs1:hover {
  width: 300px;
}
#boxs1{
  width: 100px;
  height: 60px;
  background:black;
  transition: width 2s;
  border-radius: 25px;
  
}
#boxs2{
  width: 100px;
  height: 60px;
  background:black;
  transition: width 2s;
  border-radius: 20px;

}
#boxs3{
  width: 100px;
  height: 60px;
  background:black;
  transition: width 2s;
  border-radius: 20px;
}
#boxs4{
 
  width: 100px;
  height: 60px;
  background:black;
  transition: width 2s;
  border-radius: 20px;
}
#boxs5{
 
  width: 100px;
  height: 60px;
  background:black;
  transition: width 2s;
  border-radius: 20px;
}
#boxs2:hover {
  width: 300px;
}
#boxs3:hover {
  width: 300px;
}
#boxs4:hover {
  width: 300px;
}
#boxs5:hover {
  width: 300px;
}
#js, #mysql , #html ,#react , #bootstrap , #css {
  height: 60px;
  width: 60px;
  padding: 5px;
}
/* #mysql{
  height: 60px;
  width: 60px;
 
}
#html{
  height: 60px;
  width: 60px;
  padding: 5px;
}
#react{
  height: 60px;
  width: 60px;
  padding: 5px;
}
#bootstrap{
  height: 60px;
  width: 60px;
  padding: 5px;
}
#css{
  height: 60px;
  width: 60px;
  padding: 5px;
} */