.project{
    background-image: url("../images/pexels-jim-1557238.jpg");

   
    height: 1300px; 
    display:flex;
   width: 100%;
   background-attachment: fixed;
    background-size: cover;
    position: relative;
   
}
    
.container{
   margin-top: 150px;  
   
}


.img-container{
   
    background-image: url("https://via.placeholder.com/150");
}
h2{
    color: rgb(90, 90, 211);
    padding: 10px;
    text-align: center;
}
p{
    padding: 10px;
}
h3{
    color:black;
    padding: 10px;
    text-align: center; 
}
.name{
    text-align: center;
    padding: 60px;
    font-size: 50px;
    color: black;
}