#marvels{
    /* border-radius: 30px;
    width: 500px;
    height: 400px;
    background-image: url("../images/dbb2129035f83c491af200bb58e257cc.jpg");
    
    margin-right: 30px; */
    display:block;


margin: 0px auto;
padding: 0px 15px 0px 15px;
border: none;
background: url("../images/dbb2129035f83c491af200bb58e257cc.jpg") no-repeat bottom;
width: 500px;
height: 400px;
}