.Dashbord{
    
    height: 40vh; 
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}
#ok{


    font-weight: bolder;
}
.aboutme{
    /* margin-left: 100px;
   width: 40%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    /* background-position:right;
    background-image: url("../images/81-812661_free-watercolor-flower-texture-peach-watercolor-flower-png.png"); */
       margin-top: -70px;
    padding: 80px;
       display:flex; 
       align-items: center;
       font-size: 23px;
}
#me{
  text-align: center;
  padding: 40px;
}
#pic{
    border-radius: 300px;
    width: 500px;
    height: 400px;
    background-image: url("../images/81-812661_free-watercolor-flower-texture-peach-watercolor-flower-png.png");
    justify-content: center; 
    align-items: center;  
     float: left;


}
p{
    margin-left: 100px;
}
.container{
    margin-top: 20px;
}
