.jumbotron{
   padding: 100px;
    background-image: url("../images/pexels-jim-1557238.jpg");
    width:100%;
    height: 100%;
    background-attachment: fixed;
    /* height: 100vh;  */
    background-size: cover;
    color:#20247b;
    font-size: 30px;
}
.form{
    justify-content:center;
    align-items:center;
    margin: 0 auto;
    width: 500px;
   font-weight: bolder;
}
li{
    list-style: none;
   
    justify-content: center;
    text-align: center;
    font-size: 25px;
    
}
li a{
    color: black;
}
li a:hover{
    color:red;
}

#info{

font-size: 30px;
}
