
#navbar{
        color: black;
        height: 63px;
        Color:#006b76;
        font-size:25px;
        background-color: black;
        justify-content:flex-end;
        display: flex-end;
       padding: 10px;
    }
.nav-item{
        justify-content:flex-start; 
        color: black;
       
       
    }
   
 .nav-item a{
    justify-content:flex-end; 
        color: white;
        float: right; 
    }

.nav-item a:hover{

        color:rgb(238, 71, 71);
    }

.nav-tabs{
    
    display: flex;
 
}    
/* #006b76 */