#list{
    background-color:black;
    
}
.list-inline-item a{
    color: black;
    display: row;
  padding: 40px;
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 25px;
}
p{
    text-align: center;
    font-weight: bold;
}
.list-inline-item a:hover{
color: tomato;
}

.fa-linkedin {
    /* background:white; */
    font-size: 30px;
    color: white;
  }
  .fa-github{
    font-size: 30px;
    color: white;
    padding: 20px;
  }
  